@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Poppins' , sans-serif;
}
body{
   height: 3000vh;
   min-width: 320px;
   max-width: 1700px;
   margin: auto;
   padding-top: 120px;
   display: flex;
   flex-direction: column;
   align-items: center;

}



nav{
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 5px #0000002a;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-container{
    width: 100%;
    max-width: 1700px;
    min-width: 320px;
    height: 100%;
    padding: 0px 0px;
    padding-right: 0;
}
.nav-container .content{
    width: 100%;
    height: 90px;
    padding-left: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container .content .left{
    display: flex;
    align-items: center;
}
.nav-container .content .logo{

}
.nav-container .content .logo p{
    font-size: 48px;
    font-family: 'Inspiration' , sans-serif;
}

.nav-container .content .menu{
    margin-left: 90px;
}
.nav-container .content .menu ul{
    display: flex;
}
.nav-container .content .menu ul li{
    padding: 4px 16px;
    cursor: pointer;
}

.nav-container .content .props{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-container .content .props .prop{
    padding: 0 8px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-container .content .props .acc{
    padding: 0 20px;
    margin-left: 8px;
    height: 100%;
    background-color: black;
    font-size: 16px;
    color: white;
}
.nav-container .content .props .acc .login{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(130deg) brightness(102%) contrast(102%);
    margin: 8px;
}
.nav-container .content .props .acc-active .login{
    display: none;
}
.nav-container .content .props .acc .null{
    display: none;
}



.nav-container .content .props .acc-active .null{
    display: flex;
}
.nav-container .content .props .acc-active .logged{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 8px;
    display: flex;
}
.nav-container .content .props .cart{
    position: relative;
}
.nav-container .content .props .cart span{
    position: absolute;
    top: 27px;
    right: 0px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fad4c0;
}

#search-bar{
    width: 100%;
    height: 40px;
    border-top: 1px solid black;
    display: none;
    transition: all 0.3s ease;
}
#search-bar.active{
    display: flex;

}
#search-bar .search-case{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#search-bar input{
    height: 100%;
    border: none;
}
#search-bar .sub{
    width: 10%;
    background-color: black;
    color: white;
    cursor: pointer;
}
#search-bar .case{
    width: 85%;
    padding: 4px 6px ;
}
#search-bar .search-case span{
    display: flex;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}
#search-bar .search-case span img{
    height: 30px;
}


.nav-container .minibar{
    width: 100%;
    padding: 6px 4%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #fad4c0; /* to change */
}
.minibar .text{
    display: block;
}
.minibar .text p{
    font-size: 14px; /* to change */
    font-weight: 500;
}
.minibar .social-media{
    display: none;
}
.minibar .social-media ul li a{
    margin: 0 8px;
    padding: 4px 0;  
}
.minibar .social-media ul li a img{
    height: 16px; /* to change */
}

@media (max-width:992px) {
    body{
        padding-top: 100px;
     }
    .nav-container .content{
        height: 70px;
        padding-left: 32px;
    }
    .nav-container .content .logo p{
        font-size: 40px;
        font-family: 'Inspiration' , sans-serif;
    }
    
    .nav-container .content .menu{
        margin-left: 48px;
    }
    .nav-container .content .menu ul li{
        padding: 4px 8px;
        cursor: pointer;
    }
    .nav-container .content .props .prop{
        padding: 0 6px;
    }
    .nav-container .content .props .acc{
        padding: 0 12px;
        margin-left: 6px;
        font-size: 14px;
    }
    .nav-container .content .props .acc-active .logged{
        width: 25px;
        height: 25px;
        margin: 6px;
    }
    .nav-container .content .props .cart span{
        top: 17px;
        right: 0px;
        width: 15px;
        height: 15px;
        font-size: 11px;
    }
    
    #search-bar{
        height: 40px;
    }
    #search-bar input{
        height: 100%;
    }
    #search-bar .sub{
        width: 15%;
    }
    #search-bar .case{
        width: 80%;
        padding: 4px 6px ;
    }
    #search-bar .search-case span{
        margin-right: 8px;
    }
    #search-bar .search-case span img{
        height: 30px;
    }
    
    
    .nav-container .minibar{
        padding: 6px 4%;
    }
    .minibar .text p{
        font-size: 14px;
    }
}
@media (max-width:768px) {
    body{
        padding-top: 90px;
     }
    .nav-container .content{
        height: 60px;
        padding-left: 16px;
    }
    .nav-container .content .logo p{
        font-size: 40px;
    }
    
    .nav-container .content .menu{
        margin-left: 16px;
        /* display: none; */
    }
    .nav-container .content .menu ul li{
        padding: 4px 6px;
        font-size: 14px;
    }
    .nav-container .content .props .prop{
        padding: 0 5px;
    }
    .nav-container .content .props .prop img{
        height: 18px;
    }
    .nav-container .content .props .acc{
        padding: 0 8px;
        margin-left: 6px;
        font-size: 14px;
    }
    .nav-container .content .props .acc-active .logged{
        width: 22px;
        height: 22px;
        margin: 5px;
    }
    .nav-container .content .props .cart span{
        top: 14px;
        right: -2px;
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
    
    #search-bar{
        height: 35px;
    }
    #search-bar .sub{
        width: 20%;
    }
    #search-bar .case{
        width: 75%;
        padding: 4px 6px ;
    }
    #search-bar .search-case span{
        margin-right: 5px;
    }
    #search-bar .search-case span img{
        height: 28px;
    }
    
    
    .nav-container .minibar{
        padding: 6px 4%;
    }
    .minibar .text p{
        font-size: 14px;
    }
}
@media (max-width:600px) {
    body{
        padding-top: 80px;
     }
    .nav-container .content{
        height: 50px;
        padding-left: 8px;
    }
    .nav-container .content .logo p{
        font-size: 32px;
    }
    
    .nav-container .content .menu{
        margin-left: 0px;
        display: none;
    }
    .nav-container .content .menu ul li{
        padding: 4px 6px;
        font-size: 14px;
    }
    .nav-container .content .props .prop{
        padding: 0 5px;
    }
    .nav-container .content .props .prop img{
        height: 19px;
    }
    .nav-container .content .props .acc{
        padding: 0 12px;
        margin-left: 6px;
        font-size: 13px;
    }
    .nav-container .content .props .acc-active .logged{
        width: 22px;
        height: 22px;
        margin: 5px;
    }
    .nav-container .content .props .cart span{
        top: 9px;
        right: -2px;
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
    
    #search-bar{
        height: 32px;
    }
    #search-bar .sub{
        width: 25%;
    }
    #search-bar .case{
        width: 73%;
        padding: 4px 6px ;
        font-size: 14px;
    }
    #search-bar .search-case span{
        margin-right: 5px;
    }
    #search-bar .search-case span img{
        height: 24px;
    }
    
    
    .nav-container .minibar{
        padding: 6px 4%;
    }
    .minibar .text p{
        font-size: 13px;
    }
}






.banners{
    aspect-ratio: 16/4;
    width: 100%;
    max-width: 1700px;
    background-color: #d6d6d6;
    /* background: url(images/164.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

}

@media (max-width:768px) {
    .banners{
        aspect-ratio: 16/6;
    }
}
@media (max-width:500px) {
    .banners{
        aspect-ratio: 16/9;
    }
}





.collections{
    width: 100%;
    padding: 30px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
}
.collections .dresses{
    background:url(images/drss.webp);
}
.collections .tops{
    background:url(images/tp.webp);
}
.collections .sandals{
    background:url(images/snd.jpg);
}
.collections .jeans{
    background:url(images/bottoms.webp);
}
.collections .col{
    width: 100%;
    /* min-width: 200px; */
    aspect-ratio: 16/16;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.collections .col:hover{
    filter: brightness(0.75);
}
.collections .col a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.collections .col a p{
    font-size: 2.5rem;
    font-weight: 600;
    /* -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px); */
    color: #fad4c0;
    -webkit-text-stroke: rgb(0, 0, 0) 2px;
}
.collections .col a .pop{
    font-size: 1rem;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.651);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fad4c0;
    transform: translateY(105%);
    transition: transform 0.3s ease;
}
.collections .col:hover a .pop{
    transform: translateY(0%);
}

@media (max-width:992px) {
    .collections{
        grid-template-columns: 1fr 1fr ;
        grid-gap: 8px;
    }
}
@media (max-width:600px) {
    .collections{
        grid-template-columns: 1fr ;
        grid-gap: 10px;
        padding: 30px 10px;
    }
}