@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Poppins' , sans-serif;
}
body{
   height: 3000vh;
   min-height: 580px;
   min-width: 340px;
   max-width: 1700px;
   margin: auto;
   padding-top: 120px;
   display: flex;
   flex-direction: column;
   align-items: center;

}



nav{
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 5px #0000002a;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-container{
    width: 100%;
    max-width: 1700px;
    min-width: 320px;
    height: 100%;
    padding: 0px 0px;
    padding-right: 0;
}
.nav-container .content{
    width: 100%;
    height: 90px;
    padding-left: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container .content .left{
    display: flex;
    align-items: center;
}
.nav-container .content .logo{

}
.nav-container .content .logo p{
    font-size: 48px;
    font-family: 'Inspiration' , sans-serif;
}

.nav-container .content .menu{
    margin-left: 90px;
}
.nav-container .content .menu ul{
    display: flex;
}
.nav-container .content .menu ul li{
    padding: 4px 16px;
    cursor: pointer;
}

.nav-container .content .props{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-container .content .props .prop{
    padding: 0 8px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-container .content .props .acc{
    padding: 0 20px;
    margin-left: 8px;
    height: 100%;
    background-color: black;
    font-size: 16px;
    color: white;
}
.nav-container .content .props .acc .login{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(130deg) brightness(102%) contrast(102%);
    margin: 8px;
}
.nav-container .content .props .acc-active .login{
    display: none;
}
.nav-container .content .props .acc .null{
    display: none;
}



.nav-container .content .props .acc-active .null{
    display: flex;
}
.nav-container .content .props .acc-active .logged{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 8px;
    display: flex;
}
.nav-container .content .props .cart{
    position: relative;
}
.nav-container .content .props .cart span{
    position: absolute;
    top: 27px;
    right: 0px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fad4c0;
}

#search-bar{
    width: 100%;
    height: 40px;
    border-top: 1px solid black;
    display: none;
    transition: all 0.3s ease;
}
#search-bar.active{
    display: flex;

}
#search-bar .search-case{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#search-bar input{
    height: 100%;
    border: none;
}
#search-bar .sub{
    width: 10%;
    background-color: black;
    color: white;
    cursor: pointer;
}
#search-bar .case{
    width: 85%;
    padding: 4px 6px ;
}
#search-bar .search-case span{
    display: flex;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}
#search-bar .search-case span img{
    height: 30px;
}


.nav-container .minibar{
    width: 100%;
    padding: 6px 4%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #fad4c0; /* to change */
}
.minibar .text{
    display: block;
}
.minibar .text p{
    font-size: 14px; /* to change */
    font-weight: 500;
}
.minibar .social-media{
    display: none;
}
.minibar .social-media ul li a{
    margin: 0 8px;
    padding: 4px 0;  
}
.minibar .social-media ul li a img{
    height: 16px; /* to change */
}

@media (max-width:992px) {
    body{
        padding-top: 100px;
     }
    .nav-container .content{
        height: 70px;
        padding-left: 32px;
    }
    .nav-container .content .logo p{
        font-size: 40px;
        font-family: 'Inspiration' , sans-serif;
    }
    
    .nav-container .content .menu{
        margin-left: 48px;
    }
    .nav-container .content .menu ul li{
        padding: 4px 8px;
        cursor: pointer;
    }
    .nav-container .content .props .prop{
        padding: 0 6px;
    }
    .nav-container .content .props .acc{
        padding: 0 12px;
        margin-left: 6px;
        font-size: 14px;
    }
    .nav-container .content .props .acc-active .logged{
        width: 25px;
        height: 25px;
        margin: 6px;
    }
    .nav-container .content .props .cart span{
        top: 17px;
        right: 0px;
        width: 15px;
        height: 15px;
        font-size: 11px;
    }
    
    #search-bar{
        height: 40px;
    }
    #search-bar input{
        height: 100%;
    }
    #search-bar .sub{
        width: 15%;
    }
    #search-bar .case{
        width: 80%;
        padding: 4px 6px ;
    }
    #search-bar .search-case span{
        margin-right: 8px;
    }
    #search-bar .search-case span img{
        height: 30px;
    }
    
    
    .nav-container .minibar{
        padding: 6px 4%;
    }
    .minibar .text p{
        font-size: 14px;
    }
}
@media (max-width:768px) {
    body{
        padding-top: 90px;
     }
    .nav-container .content{
        height: 60px;
        padding-left: 16px;
    }
    .nav-container .content .logo p{
        font-size: 40px;
    }
    
    .nav-container .content .menu{
        margin-left: 16px;
        /* display: none; */
    }
    .nav-container .content .menu ul li{
        padding: 4px 6px;
        font-size: 14px;
    }
    .nav-container .content .props .prop{
        padding: 0 5px;
    }
    .nav-container .content .props .prop img{
        height: 18px;
    }
    .nav-container .content .props .acc{
        padding: 0 8px;
        margin-left: 6px;
        font-size: 14px;
    }
    .nav-container .content .props .acc-active .logged{
        width: 22px;
        height: 22px;
        margin: 5px;
    }
    .nav-container .content .props .cart span{
        top: 14px;
        right: -2px;
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
    
    #search-bar{
        height: 35px;
    }
    #search-bar .sub{
        width: 20%;
    }
    #search-bar .case{
        width: 75%;
        padding: 4px 6px ;
    }
    #search-bar .search-case span{
        margin-right: 5px;
    }
    #search-bar .search-case span img{
        height: 28px;
    }
    
    
    .nav-container .minibar{
        padding: 6px 4%;
    }
    .minibar .text p{
        font-size: 14px;
    }
}
@media (max-width:600px) {
    body{
        padding-top: 80px;
     }
    .nav-container .content{
        height: 50px;
        padding-left: 8px;
    }
    .nav-container .content .logo p{
        font-size: 32px;
    }
    
    .nav-container .content .menu{
        margin-left: 0px;
        display: none;
    }
    .nav-container .content .menu ul li{
        padding: 4px 6px;
        font-size: 14px;
    }
    .nav-container .content .props .prop{
        padding: 0 5px;
    }
    .nav-container .content .props .prop img{
        height: 19px;
    }
    .nav-container .content .props .acc{
        padding: 0 12px;
        margin-left: 6px;
        font-size: 13px;
    }
    .nav-container .content .props .acc-active .logged{
        width: 22px;
        height: 22px;
        margin: 5px;
    }
    .nav-container .content .props .cart span{
        top: 9px;
        right: -2px;
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
    
    #search-bar{
        height: 32px;
    }
    #search-bar .sub{
        width: 25%;
    }
    #search-bar .case{
        width: 73%;
        padding: 4px 6px ;
        font-size: 14px;
    }
    #search-bar .search-case span{
        margin-right: 5px;
    }
    #search-bar .search-case span img{
        height: 24px;
    }
    
    
    .nav-container .minibar{
        padding: 6px 4%;
    }
    .minibar .text p{
        font-size: 13px;
    }
}






.banners{
    aspect-ratio: 16/4;
    width: 100%;
    max-width: 1700px;
    background-color: #d6d6d6;
    background: url(images/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

@media (max-width:768px) {
    .banners{
        aspect-ratio: 16/6;
    }
}
@media (max-width:500px) {
    .banners{
        aspect-ratio: 16/9;
    }
}





.col-menu{
    width: 100%;
    padding: 30px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
}
.col-menu .dresses{
    background:url(images/dress.webp);
}
.col-menu .tops{
    background:url(images/tops.webp);
}
.col-menu .sandals{
    background:url(images/sandals.webp);
}
.col-menu .jeans{
    background:url(images/jn.webp);
}
.col-menu .col{
    width: 100%;
    /* min-width: 200px; */
    aspect-ratio: 16/16;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.col-menu .col:hover{
    filter: brightness(1.1);
}
.col-menu .col a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.col-menu .col a p{
    font-size: 2rem;
    font-weight: 600;
    /* -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px); */
    /* background-color: white; */
    color: #000;
    padding: 4px 6px;
    backdrop-filter: blur(10px);
}
.col-menu .col a .pop{
    font-size: 1rem;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.651);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fad4c0;
    transform: translateY(105%);
    transition: transform 0.3s ease;
}
.col-menu .col:hover a .pop{
    transform: translateY(0%);
}

@media (max-width:992px) {
    .col-menu{
        grid-template-columns: 1fr 1fr ;
        grid-gap: 8px;
    }
}
@media (max-width:600px) {
    .col-menu{
        grid-template-columns: 1fr ;
        grid-gap: 10px;
        padding: 30px 10px;
    }
}











.collection{
    width: 100%;
    padding: 50px 16px;
    position: relative;
}
.collection .header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.collection .header .header-txt{
    font-size: 2rem;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.collection .header .header-txt  span{
    display: block;
    width: 40px;
    height: 2px ;
    background-color: black;
    margin-left: 16px;
    transition: all 0.3s ease;
}
.collection .header .header-txt:hover span{
    width: 100px;
}
.collection .content{
    width: 100%;
    /* height: 440px; */
    margin-top: 16px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.collection .content::-webkit-scrollbar{
    display: none;
}
.collection .content .products-container{
    height: 100%;
    display: flex;
}

.collection .content .products-container .product{

    width: 350px;
    height: 100%;
    margin: 0 24px;
    margin-left: 0;
}

.collection .content .products-container .product:last-child{
    margin-right: 0;
}

.collection .content .products-container .move{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    cursor: pointer;
    background-color: #fad4c0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0.9;

}
.collection .content .products-container .move-left{
    left: 8px;
}
.collection .content .products-container .move-right{
    right: 8px;
}
.collection .content .products-container .move img{
    height: 30px;
}
.collection .content .products-container .move-left img{
    transform: rotate(180deg);
}


.product{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.product .image{
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}
.product .image .img{
    width: 100%;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s ease;
}
.product:hover image .img{
    transform: scale(1.05 , 1.05);
}
/* .product .image .img.img-1{
    display: block;
}
.product .image .img.img-2{
    display: none;
}
.product .image:hover .img.img-1{
   display: none;
}
.product .image:hover .img.img-2{
    display: block;
 } */
 .product .line-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.product .name{
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
    max-width: 100%;
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}
.product .price-name{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product .price{
    font-size: 16px;
    font-weight: 500;
    margin-top: 0px;
    text-align: center;
}
.product .price .f-price{
    font-size: 16px;
    font-weight: 400;
    margin-left: 4px;
    text-decoration: line-through rgba(75, 75, 75, 0.74);
}
.product .cta{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 12px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    
}
.product:hover .cta{
    display: flex;
}
.product .cta .add-cart{
    /* background-color: #000; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease;
}
.product .line-2 .fav{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product .line-2 .fav img{
    height: 25px;
    transition: transform 0.3s ease;
    filter: invert(94%) sepia(30%) saturate(3882%) hue-rotate(293deg) brightness(123%) contrast(96%);
}
.product .line-2 .fav:hover img{
    transform: scale(1.09 , 1.09);
}








/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* -----------------------------------product.html-------------------------------- */



#product-info{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;  
    padding: 0 16px;  
    padding-top: 40px;
    
}
#product-info .container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#product-info .container .images-wrp{
    width: 50%;
    max-width: 700px;
}
#product-info .container .images-wrp .main{ 
    width: 100%;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr;
}
#product-info .container .images-wrp .main .sec-images{ 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}
#product-info .container .images-wrp .main img{ 
    width: 100%;  
}
#product-info .container .images-wrp .main .main-image-phone{
    display: none;
}

#product-info .container .info{
    width: 45%;
    position: sticky;
    top: 120px;
    display: flex;
    align-items: flex-start;
}
#product-info  .info-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
#product-info  .info-content .name {
    display: flex; 
    margin-bottom: 16px;
}
#product-info  .info-content .name p{
    font-size: 28px;
    font-weight: 600;
    text-decoration: underline;  
}
#product-info  .info-content .price {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
#product-info  .info-content .price  .f-price{
    margin-left: 16px;
    font-weight: 400;
    color: gray;
    text-decoration: line-through gray 2px;
}
#product-info  .info-content .price p{
    font-size: 24px;
    font-weight: 500;  
}
#product-info  .info-content .choose{
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
}
#product-info  .info-content .choose p{
    font-size: 16px;
    font-weight: 500;  
}
#product-info  .info-content .choose div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 8px;
}
#product-info  .info-content .choose .choose-item {
    width: 37px;
    height: 37px;
    border-radius: 100%;
    border: 1px solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}
#product-info  .info-content .choose .choose-item:not(:first-child) {
    margin-left: 16px;
}
#product-info  .info-content .call-ta{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#product-info  .info-content .call-ta .btn{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
    margin-top: 16px;
    height: 35px;
    color: #fff;
    justify-content: center;
    border:1px solid;
    font-size: 14px;
}


@media (max-width:992px) {
    #product-info  .info-content .name p{
        font-size: 24px;
        font-weight: 600;
    }
    #product-info  .info-content .price p{
        font-size: 21px;
        font-weight: 500;  
    }
    #product-info  .info-content .choose .choose-item {
        width: 34px;
        height: 34px;
    }
    #product-info  .info-content .choose .choose-item:not(:first-child) {
        margin-left: 12px;
    }
}

@media (max-width:768px) {
    #product-info  .info-content .name p{
        font-size: 16px;
        font-weight: 600;
    }
    #product-info  .info-content .price{
        margin-bottom: 16px;
    }
    #product-info  .info-content .price p{
        font-size: 16px;
        font-weight: 500;  
    }
    #product-info  .info-content .choose p{
        font-size: 16px;  
    }
    #product-info  .info-content .choose .choose-item {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    #product-info  .info-content .choose .choose-item:not(:first-child) {
        margin-left: 6px;
    }
    #product-info  .info-content .call-ta .btn{
        margin-top: 16px;
        height: 30px;
        font-size: 12px;
    }
}
@media (max-width:600px) {
    #product-info .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 0;
    }
    #product-info .container .info{
        width: 100%;
        position: initial;
        margin-top: 16px;
    }
    #product-info  .info-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    #product-info .container .images-wrp{
        width: 100%;
        max-width: 700px;
    }
    #product-info .container .images-wrp .main{ 
        width: 100%;
        display: grid;
        grid-gap: 4px;
        grid-template-columns: 1fr;
    }
    #product-info .container .images-wrp .main .sec-images{ 
        display: none;
    }
    #product-info .container .images-wrp .main .main-image{ 
        display: none;
    }
    #product-info .container .images-wrp .main .main-image-phone{
        display: flex;
        overflow-x: scroll;
    }
    #product-info .container .images-wrp .main-image-phone .image-container{
        display: flex;
        flex-wrap: nowrap;
    }
    #product-info .container .images-wrp .main-image-phone .image-container img{
        max-height: 450px;
    }
    #product-info .container .images-wrp .main-image-phone .image-container img:not(:first-child){
        margin-left: 6px;
    }
    #product-info  .info-content .name p{
        font-size: 18px;
        font-weight: 600;
    }
    #product-info  .info-content .price{
        margin-bottom: 12px;
    }
    #product-info  .info-content .price .f-price{
        margin-left: 8px;
    }
    #product-info  .info-content .price p{
        font-size: 18px;
        font-weight: 500;  
    }
    #product-info  .info-content .choose p{
        font-size: 18px;  
    }
    #product-info  .info-content .choose .choose-item {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }
    #product-info  .info-content .choose .choose-item:not(:first-child) {
        margin-left: 16px;
    }
    #product-info  .info-content .call-ta .btn{
        margin-top: 12px;
        height: 38px;
        font-size: 16px;
    }
}
@media (max-height:620px ) and (min-width :600px) {
    #product-info .container .info{
        transform: scale(0.8 , 0.8) translateY(-40px);
        position: sticky;
        top: 100px;
    }

}

#product-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    margin: 60px 0;
}
#product-description .header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
#product-description .header p{
    font-size: 32px;
    font-weight: 500;
    text-transform:uppercase;
}
#product-description .description-container{
    width: 100%;  
}
#produc-description .description-container img{
    max-width: 100%; 
}

@media (max-width:768px) {
    #product-description .header p{
        font-size: 24px;
        font-weight: 600;
    }
    
}
@media (max-width:600px) {
    #product-description .header p{
        font-size: 21px;
    }
    
}